<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio' }) %>

	<body>
		<!-- Header -->
		<%- include('partials/headerNavbar') %>
    <main>

        <form action="/login" method="POST">

            <div class="form__usuario">
                <label for="email">Correo electronico *</label>
                <input type="email" name="email" id="email"
                    value="<%= locals.old && old.email ? old.email : ""%>"
                    placeholder="Introduzca su Correo electronico">
                <% if (locals.errors && errors.email ) { %>
                
                            <p class="form-error">
                                <%= errors.email.msg %>
                            </p>
                           
                                    <% } %>
            </div>
            <div class="form__password">
                <label class="form__password__title" for="pass">Contraseña *</label><br>
                <input type="password" name="password" id="pass"
                   
                    placeholder="Introduzca su contraseña">
                <% if (locals.errors && errors.password) { %>
                  
                            <p class="form-error">
                                <%= errors.password.msg %>
                            </p>
                          
                                    <% } %>
            </div>
            <label for="recordame">recordame</label>
            <input type="checkbox" name="recordame" id="">

<input type="submit" name="" id="" value="login">
        </form>
    </main>
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>

