<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de creación' }) %>

    <body>
        <!-- Header -->
        <%- include('partials/headerNavbar') %>
            <!-- /Header -->
            <main class="main-register">
                <form action="/registro" method="POST" class="form-Reg" enctype="multipart/form-data">

                    <div class="form__nombre">
                        <label for="nombre">Nombre y Apellido *</label>
                        <input type="text" name="nombre" placeholder=" Introduzca su Nombre y apellido"
                            value="<%= locals.old && old.nombre ? old.nombre : ""%>" class="hola is-invalid">
                        <% if (locals.errors && errors.nombre) { %>
                            <p class="form-error">
                                <%= errors.nombre.msg %></p>
                            <% } %>
                    </div>
                    
                    <div class="form__usuario">
                        <label for="email">Correo electronico *</label>
                        <input type="email" name="email" id="email"
                            value="<%= locals.old && old.email ? old.email : ""%>"
                            placeholder="Introduzca su Correo electronico">
                        <% if (locals.errors && errors.email ) { %>
                            
                                    <p class="form-error">
                                        <%= errors.email.msg %>
                                    </p>
                                    
                                            <% } %>
                    </div>
                    
                    <div class="form__domicilio">
                        <label for="img">foto de perfil</label><br>
                        <input type="file" name="img" i placeholder="foto de perfil">
                        <% if (locals.errors && errors.img ) { %>
                            
                                    <p class="form-error">
                                        <%= errors.img.msg %>
                                    </p>
                                    
                                            <% } %>
                    </div>
                    
                

                   
                    <div class="form__password">
                        <label class="form__password__title" for="password">Contraseña *</label><br>
                        <input type="password" name="password" id="password" placeholder="Introduzca su contraseña">
                        <% if (locals.errors && errors.password ) { %>
                            
                            <p class="form-error">
                                <%= errors.password.msg %>
                            </p>
                            
                                    <% } %>
                    </div>

                    


                    
                    <div class="contenedor_button">
                        <button class="form__button" type="submit">Borrar</button>
                        <button class="form__button" type="submit">Enviar</button>

                    </div>







                </form>

                <div class="help-button">
                    <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                </div>

            </main>


    </body>

    </html>